@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('assets/font/butler/stylesheet.css');

* {
  font-family: 'Butler';
  font-weight: 600;
  box-sizing: border-box;
}
