<div class="requadre_filtres">
  <div class="titol_filtres" (click)="FiltresOberts = !FiltresOberts">Filtres</div>
  <div class="requadre_tots_filtres" *ngIf="FiltresOberts">
    <div class="requadre_calendari">
      <div class="cal-mesos-fletxa" (click)="GoMes(true)"><</div>
      <div class="requadre-taula-calendari">
        <div class="control-mesos">{{ MesText }} {{ AnyText }}</div>
        <div class="taula-calendari">
          <table>
            <tr>
              <td>Dl</td>
              <td>Dt</td>
              <td>Dc</td>
              <td>Dj</td>
              <td>Dv</td>
              <td>Ds</td>
              <td>Dg</td>
            </tr>
            <tr *ngFor="let Row of DiesMesFiles">
              <td *ngFor="let D of Row" [ngClass]="D.C" (click)="AplicaFiltre(D.DiaNumero)">{{ D.DiaNumero }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="cal-mesos-fletxa" (click)="GoMes(false)">></div>
    </div>
  </div>
</div>

<div class="calendari">
  <div class="control-mesos">
    <div class="cal-mesos-fletxa" (click)="GoMes(true)"><</div>
    <div class="cal-mesos">{{ MesText }}<br />{{ AnyText }}</div>
    <div class="cal-mesos-fletxa" (click)="GoMes(false)">></div>
  </div>
  <div class="control-dies">
    <div [ngClass]="D.C" *ngFor="let D of DiesMes" (click)="executaFiltre('DATA_INICIAL', D.DiaNumero)">
      <div class="cal-dia-text">{{ D.DiaText }}</div>
      <div class="cal-dia-numero">{{ D.DiaNumero }}</div>
    </div>
  </div>
</div>

<div class="box-mes-filtres">
  <div class="mes-filtres">Més filtres</div>
  <div class="mes-filtres-resta">
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 7)">Música</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 6)">Humanitats</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 5)">Exposició</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 8)">Conferència</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 4)">Científica</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 11)">Tecnològica</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 3)">Familiar</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 2)">Curs</div>
    <div class="mes-filtres-resta-element" (click)="executaFiltre('TAG_VINCULAT', 1)">Artística</div>
  </div>
</div>
