@import '../../../variables.scss';

$espaientrefotos_L: 25;
$espaientrefotos_M: 25;
$espaientrefotos_S: 25;

.TitolCicle {
  position: relative;
  margin: auto;
  text-align: center;
}
.DatesCicle {
  position: relative;
  margin: auto;
  text-align: center;
}

.requadre {
  position: relative;
  height: auto;
}
.quadricula {
  // position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  width: 100%;
}
.requadre_imatge {
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: 100%;
}
.requadre_imatge_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.requadre_text {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  min-height: 40px;
  background-color: white;
}
.requadre_text_titol {
  border-bottom: 1px solid black;
  padding: 5px;
}
.requadre_text_data {
  display: inline-block;
  border-right: 1px solid black;
  padding: 5px;
  width: 45%;
}
.requadre_text_espai {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .TitolCicle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: $requadre_width_S + px;
  }
  .DatesCicle {
    font-size: 10px;
    width: $requadre_width_S + px;
  }

  .requadre {
    position: relative;
    margin-top: ($margin_S * 2) + px;
    margin-bottom: $margin_S + px;
    padding-left: $margin_S + px;
    padding-right: $margin_S + px;
    width: 100%;
  }
  .quadricula {
    position: relative;
  }

  .requadre_imatge {
    width: 100%;
    padding-top: 100%;
    margin-bottom: $margin_S + px;
    position: relative;
  }
  .requadre_imatge_img {
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .requadre_text {
    bottom: 5px;
    left: 5px;
    right: 5px;
    position: absolute;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 12px;
    width: (($requadre_text_S / 2)-10) + px;
  }
  .requadre_text_espai {
    font-size: 12px;
    width: (($requadre_text_S / 2)-11) + px;
  }
  .tag {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 0px;
    height: 0px;
    border-left: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    z-index: 1;
    /* borders per fer fletxa surt de single-list.component.ts */
  }
  .tag > img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: -8px;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .TitolCicle {
    margin-top: 20px;
    font-size: 40px;
    width: $requadre_width_M + px;
  }
  .DatesCicle {
    font-size: 20px;
    width: $requadre_width_M + px;
  }

  .requadre {
    margin-bottom: $margin_M + px;
    margin-left: $margin_M + px;
    width: $requadre_width_M + px;
  }
  .quadricula {
    height: $imatge_height_M + px;
    margin-top: 25px;
  }

  .requadre_imatge {
    display: inline-block;
    position: relative;
    width: $imatge_width_M + px;
    margin-left: $espaientrefotos_M + px;
  }
  .requadre_imatge_img {
  }

  .requadre_text {
    width: $requadre_text_M + px;
    margin-left: 9px;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 10px;
    width: (($requadre_text_M / 2)-10) + px;
  }
  .requadre_text_espai {
    font-size: 10px;
    width: (($requadre_text_M / 2)-11) + px;
  }
  .tag {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 0px;
    height: 0px;
    border-left: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    z-index: 1;
    /* borders per fer fletxa surt de single-list.component.ts */
  }
  .tag > img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: -8px;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .TitolCicle {
    margin-top: 20px;
    font-size: 40px;
    width: $requadre_width_L + px;
  }
  .DatesCicle {
    font-size: 20px;
    width: $requadre_width_L + px;
  }

  .requadre {
    margin-bottom: $margin_L + px;
    margin-left: $margin_L + px;
    width: $requadre_width_L + px;
  }
  .quadricula {
    height: $imatge_height_L + px;
    margin-top: 25px;
  }

  .requadre_imatge {
    display: inline-block;
    position: relative;
    width: $imatge_width_L + px;
    margin-left: $espaientrefotos_L + px;
  }
  .requadre_imatge_img {
  }

  .requadre_text {
    width: $requadre_text_L + px;
    margin-left: 9px;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 10px;
    width: (($requadre_text_L / 2)-10) + px;
  }
  .requadre_text_espai {
    font-size: 10px;
    width: (($requadre_text_L / 2)-11) + px;
  }
  .tag {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    width: 0px;
    height: 0px;
    border-left: 15px solid;
    border-right: 15px solid;
    border-top: 15px solid;
    border-bottom: 15px solid;
    z-index: 1;
    /* borders per fer fletxa surt de single-list.component.ts */
  }
  .tag > img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
  }
}
