@import '../../../variables.scss';

$requadre_color: $color_fons_detall;

.requadre_titol,
.requadre_info,
.requadre_detall {
  position: relative;
}
.requadre_titol {
  background-color: inherit;
}
.requadre_info {
  background-color: white;
  border: 1px solid #999999;
  font-weight: normal;
}
.requadre_detall {
  background-color: white;
  border: 1px solid #999999;
  font-weight: normal;
}

.titol {
  width: 100%;
  text-align: center;
}
.dates {
  width: 100%;
  text-align: center;
}
.dates2 {
  text-align: center;
}
.titol_text {
}
.text {
}

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .bloc-detall {
    padding-left: $margin_S + px;
    padding-right: $margin_S + px;
  }

  .requadre_titol,
  .requadre_info,
  .requadre_detall {
    margin-top: $margin_S + px;
    margin-bottom: $margin_S + px;
    width: 100%;
  }
  .titol {
    font-size: $font_size_S + 10 + px;
  }
  .dates {
    font-size: $font_size_S + 8 + px;
  }
  .titol_text {
    font-size: $font_size_S + px;
    font-weight: bold;
    padding: 10px;
  }
  .text {
    font-size: $font_size_S + px;
    padding: 10px;
  }

  .cal {
    font-size: 8px;
  }
  .cal-fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cal-mes {
    background-color: #aaaaaa;
    padding: 2px;
    font-size: 8px;
  }
  .cal-dia,
  .cal-dia-festiu,
  .cal-dia-ocupat {
    font-size: 8px;
    padding: 0px;
    background-color: #eeeeee;
    font-weight: normal;
    cursor: pointer;
  }
  .cal-dia-festiu {
    background-color: #aaaaaa;
  }
  .cal-dia-ocupat {
    font-weight: bolder;
  }
  .cal-info-text {
    font-size: 8px;
  }
  .cal-info-text-espai-hora {
    font-size: 9px;
    font-weight: bolder;
  }
  .cartellLlocHora {
    text-align: center;
  }
  .dates {
    margin-top: 10px;
    font-size: 8px;
  }
  .dates2 {
    margin-top: 10px;
    font-size: 8px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .requadre_titol,
  .requadre_info,
  .requadre_detall {
    margin-left: $margin_M + px;
    margin-top: $margin_M + px;
    margin-bottom: $margin_M + px;
    width: $requadre_width_M + px;
  }
  .titol {
    font-size: $font_size_M + 10 + px;
  }
  .dates {
    font-size: $font_size_M + 8 + px;
  }
  .titol_text {
    font-size: $font_size_M + px;
    font-weight: bold;
    padding: 10px;
  }
  .text {
    font-size: $font_size_M + px;
    padding: 10px;
  }

  .cal {
    font-size: 10px;
  }
  .cal-fila {
    display: flex;
    justify-content: space-around;
  }
  .cal-mes {
    background-color: #aaaaaa;
    padding: 2px;
    font-size: 10px;
  }
  .cal-dia,
  .cal-dia-festiu,
  .cal-dia-ocupat {
    font-size: 10px;
    padding: 2px;
    background-color: #eeeeee;
    font-weight: normal;
    cursor: pointer;
  }
  .cal-dia-festiu {
    background-color: #aaaaaa;
  }
  .cal-dia-ocupat {
    font-weight: bolder;
  }
  .cal-info-text {
    font-size: 10px;
  }
  .cal-info-text-espai-hora {
    font-size: 12px;
    font-weight: bolder;
  }
  .cartellLlocHora {
    text-align: center;
  }
  .dates {
    margin-top: 10px;
    font-size: 10px;
  }
  .dates2 {
    margin-top: 10px;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .requadre_titol,
  .requadre_info,
  .requadre_detall {
    margin-left: $margin_L + px;
    margin-top: $margin_L + px;
    margin-bottom: $margin_L + px;
    width: $requadre_width_L + px;
  }
  .titol {
    font-size: $font_size_L + 10 + px;
  }

  .titol_text {
    font-size: $font_size_L + px;
    font-weight: bold;
    padding: 10px;
  }
  .text {
    font-size: $font_size_L + px;
    padding: 10px;
  }

  .cal {
    font-size: 12px;
  }
  .cal-fila {
    display: flex;
    justify-content: space-around;
  }
  .cal-mes {
    background-color: #aaaaaa;
    padding: 5px;
    font-size: 12px;
  }
  .cal-dia,
  .cal-dia-festiu,
  .cal-dia-ocupat {
    font-size: 12px;
    padding: 5px;
    background-color: #eeeeee;
    font-weight: normal;
    cursor: pointer;
  }
  .cal-dia-festiu {
    background-color: #aaaaaa;
  }
  .cal-dia-ocupat {
    font-weight: bolder;
  }
  .cal-info-text {
    font-size: 12px;
  }
  .cal-info-text-espai-hora {
    font-size: 14px;
    font-weight: bolder;
  }
  .cartellLlocHora {
    text-align: center;
  }
  .dates {
    margin-top: 10px;
    font-size: 12px;
  }
  .dates2 {
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
