<div class="bloc-detall">
  <div class="requadre_titol">
    <div class="titol">
      {{ ActivitatDetall.ActivitatDetall.Activitats_TitolMig }}
    </div>
    <div class="dates" [innerHTML]="ActivitatDetall.ActivitatHoraris.TextResum">&nbsp;</div>
    <div class="dates2">(<a (click)="veureDetall()">+ veure en detall</a>)</div>
    <div *ngIf="MostraDetall">
      <div *ngFor="let C of ActivitatDetall.ActivitatHoraris.LlistatCalendari.Calendari.Anys">
        <div class="cal">
          <div class="cal-fila" *ngFor="let M of C.MesosAny">
            <div class="cal-mes">{{ M.Nom }} {{ C.NumeroAnyDosXifres }}</div>
            <div class="cal-dia" [ngClass]="tipusDia(D)" (click)="veureHorariDia(D)" *ngFor="let D of M.Dies">
              {{ D.DiaNumero }}
            </div>
          </div>
        </div>
      </div>
      <div class="cal-info-text">Clica un dia per saber el lloc i l'hora</div>
      <div class="cartellLlocHora">{{ Horaris_i_llocs }}</div>
    </div>
  </div>
  <div class="requadre_detall">
    <!-- <div class="titol_text"
      [innerHTML]="ActivitatDetall.ActivitatDetall.A_TMIG"></div> -->
    <div class="text" [innerHTML]="ActivitatDetall.ActivitatDetall.Activitats_DescripcioMig"></div>
  </div>
  <div class="requadre_info">
    <div class="titol_text">INFORMACIÓ PRÀCTICA</div>
    <div class="text" [innerHTML]="ActivitatDetall.ActivitatDetall.Activitats_InformacioPractica"></div>
  </div>
</div>

<app-single-list
  [InputTitol]="'ACTIVITATS RELACIONADES'"
  [InputColor]="'orange'"
  [InputDades]="ActivitatDetall.ActivitatsRelacionades"
  [GenLink]="['/activitats', 0, 'Exposicions']"
></app-single-list>
