@import '../../../variables.scss';

$width_L: 273px;
$width_M: 200px;

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .footer {
    position: relative;
    margin-left: $margin_S + px;
    margin-top: $margin_S + px;
  }
  .footer_grisclar,
  .footer_grisfosc {
    display: block;
    background-color: #231f20;
    height: 120px;
    width: 100%;
    text-align: center;
  }
  .footer_grisfosc {
    background-color: #231f20;
  }
  .img_logo {
    position: relative;
    width: 218px;
    margin-top: 35px;
  }
  .adreca {
    color: white;
    font-size: 14px;
  }
  .links {
    position: relative;
    font-size: 14px;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
  .links a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .footer {
    position: relative;
    margin-left: $margin_M + px;
    height: 150px;
    margin-top: $margin_M + px;
    margin-right: $margin_M + px;
    background-color: #231f20;
  }
  .footer_grisclar {
    float: left;
    background-color: #231f20;
    height: 100%;
    width: 200px;
    padding: 5px;
  }
  .footer_grisfosc {
    float: left;
    background-color: #231f20;
    height: 100%;
    width: 205px;
    padding: 5px;
  }
  .img_logo {
    position: relative;
    width: 180px;
    top: 45px;
    left: 12px;
  }
  .adreca {
    color: white;
    font-size: 14px;
    position: relative;
    left: 20px;
    top: 30px;
  }
  .links {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 14px;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .footer {
    position: relative;
    margin-left: $margin_L + px;
    height: 150px;
    margin-top: $margin_L + px;
    margin-right: $margin_M + px;
    background-color: #231f20;
  }
  .footer_grisclar {
    float: left;
    background-color: #231f20;
    height: 100%;
    padding: 5px;
    width: 270px;
  }
  .footer_grisfosc {
    float: left;
    background-color: #231f20;
    height: 100%;
    padding: 5px;
    width: 278px;
  }
  .img_logo {
    position: relative;
    width: 200px;
    top: 45px;
    left: 30px;
  }
  .adreca {
    color: white;
    position: relative;
    left: 20px;
    top: 30px;
    font-size: 14px;
  }
  .links {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 14px;
  }
  .links a {
    text-decoration: none;
    color: white;
  }
  .links a:hover {
    text-decoration: underline;
  }
}
