<div class="footer">
  <div class="footer_grisfosc"><img src="/assets/img/LogoCCGBlanc.png" class="img_logo" /></div>
  <div class="footer_grisclar">
    <div class="adreca">
      Plaça de l'Hospital, 6 <br />
      17002 Girona
      <br />
      <br />
      info@casadecultura.org <br />
      972 202 013
    </div>
  </div>
  <div class="footer_grisfosc">
    <div class="links">
      <a href="/pagina/67/Intranet">Intranet</a><br />
      <a href="/pagina/84/Portal%2520de%2520transpar%25C3%25A8ncia">Portal transparència</a><br />
      <a href="/pagina/127/Tramits">Sala de premsa</a><br />
      <a href="/pagina/102/Tramits">Tràmits administratius</a><br />
      <a href="/pagina/116/Avis_legal">Avís legal</a><br />
      <a href="/pagina/115/Cookies">Política de cookies</a><br />
    </div>
  </div>
</div>
