<div class="barra_superior">
  <div class="barra_superior_zona_botons">
    <div class="barra_superior_zona_botons_boto_grisclar"><img src="/assets/img/BotoTwitter.png" /></div>
    <div class="barra_superior_zona_botons_boto_grisfosc"><img src="/assets/img/BotoFacebook.png" /></div>
    <div class="barra_superior_zona_botons_boto_grisclar"><img src="/assets/img/BotoYoutube.png" /></div>
    <div class="barra_superior_zona_botons_boto_grisfosc"><img src="/assets/img/BotoInstagram.png" /></div>
    <div class="barra_superior_zona_botons_boto_grisclar"><img src="/assets/img/BotoIntranet.png" /></div>

    <div class="barra_superior_zona_botons_boto_grisfosc"><img src="/assets/img/BotoButlleti.png" /></div>
    <div class="info barra_superior_zona_botons_boto_grisclar"><img src="/assets/img/BotoInfo.png" /></div>
    <div class="barra_superior_zona_botons_boto_grisfosc"><img src="/assets/img/BotoTelefon.png" /></div>

  </div>
</div>