<div class="banners_inferiors_s">
  <div class="banner_inferior">
    <a href=""><img src="/assets/img/banner_diputacio.png"/></a>
  </div>

  <div class="banner_inferior">
    <a href=""><img src="/assets/img/banner_cmg.png"/></a>
  </div>

  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_galliner.png" />
    </a>
  </div>
</div>
<div class="banners_inferiors_s">
  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_butlleti.png" />
    </a>
  </div>

  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_calendari.png" />
    </a>
  </div>
</div>

<div class="banners_inferiors_l">
  <div class="banner_inferior">
    <a href=""><img src="/assets/img/banner_diputacio.png"/></a>
  </div>

  <div class="banner_inferior">
    <a href=""><img src="/assets/img/banner_cmg.png"/></a>
  </div>

  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_galliner.png" />
    </a>
  </div>
  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_butlleti.png" />
    </a>
  </div>

  <div class="banner_inferior">
    <a href="">
      <img src="/assets/img/banner_calendari.png" />
    </a>
  </div>
</div>
