@import '../../../variables.scss';

$mida_imatge_L: 140;
$mida_imatge_M: 119;

.banners_inferiors {
  position: relative;
  margin-top: 20px;
}

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .banners_inferiors_l {
    display: none;
  }
  .banners_inferiors_s {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $margin_S + px;
    margin-left: $margin_S + px;
    margin-right: $margin_S + px;
  }

  .banner_inferior {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 48%;
    padding-top: 12%;
    margin-bottom: 10px;
  }
  .banner_inferior > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .banners_inferiors_s {
    display: none;
  }
  .banners_inferiors_l {
    display: flex;
    justify-content: space-between;
    margin-top: $margin_M + px;
    margin-left: $margin_M + px;
    margin-right: $margin_M + px;
  }
  .banner_inferior > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .banner_inferior_espai {
    display: inline-grid;
    width: 10px;
  }
  .banner_inferior {
    display: inline-block;
    width: $mida_imatge_M + px;
    height: $mida_imatge_M + px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .banners_inferiors_s {
    display: none;
  }
  .banners_inferiors_l {
    display: flex;
    justify-content: space-between;
    margin-top: $margin_L + px;
    margin-left: $margin_L + px;
    margin-right: $margin_L + px;
  }
  .banner_inferior > a {
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;

    font-size: 20px;
  }
  .banner_inferior_espai {
    display: inline-grid;
    width: 37px;
  }
  .banner_inferior {
    display: inline-grid;
    width: $mida_imatge_L + px;
    height: $mida_imatge_L + px;
    margin-bottom: $margin_S + px;
  }
  .banner_inferior > a > img {
    width: 100%;
  }
}
