<div class="banners_inferiors_s">
  <div class="banner_inferior" style="background-color: #A0C3CB;">
    <a [routerLink]="['/pagina/78/cursos']">Cursos</a>
  </div>

  <div class="banner_inferior" style="background-color: #B06A17;">
    <a [routerLink]="['/pagina/102/reserva_espais']">Tràmits i espais</a>
  </div>

  <div class="banner_inferior" style="background-color: #E8D131;">
    <a [routerLink]="['/pagina/63/projectes_als_municipis']">
      Projectes als
      <br />
      municipis
    </a>
  </div>
  <div class="banner_inferior" style="background-color: #9A7EB1;">
    <a [routerLink]="['/pagina/105/projectes_per_a_escoles']"> Projectes<br />per a escoles </a>
  </div>
  <div class="banner_inferior" style="background-color: #9FB86B;">
    <a [routerLink]="['/pagina/59/la_casa']"> La casa</a>
  </div>
</div>

<div class="banners_inferiors_l">
  <div class="banner_inferior" style="background-color: #A0C3CB;">
    <a [routerLink]="['/pagina/78/cursos']">Cursos</a>
  </div>

  <div class="banner_inferior" style="background-color: #B06A17;">
    <a [routerLink]="['/pagina/102/reserva_espais']">Tràmits i espais</a>
  </div>

  <div class="banner_inferior" style="background-color: #E8D131;">
    <a [routerLink]="['/pagina/63/projectes_als_municipis']">
      Projectes
      <br />
      als
      <br />
      municipis
    </a>
  </div>
  <div class="banner_inferior" style="background-color: #9A7EB1;">
    <a [routerLink]="['/pagina/105/projectes_per_a_escoles']"> Projectes<br />per a <br />escoles </a>
  </div>
  <div class="banner_inferior" style="background-color: #9FB86B;">
    <a [routerLink]="['/pagina/59/la_casa']"> La casa</a>
  </div>
</div>
