@import '../../../variables.scss';

$mida_boto: 14;
$mida_boto_S: 14;
$mida_boto_M: 14;

.banner {
  position: relative;
  z-index: 0;
}
.banner-image {
  position: relative;
  z-index: 0;
  width: 100%;
}
.banner-image > img {
  height: 100%;
  width: 100%;
  filter: brightness(0.5);
}
.menu {
  z-index: 1;
  position: absolute;
  background-color: white;
}
.logo {
  z-index: 1;
  position: absolute;
}
.text_banner {
  z-index: 1;
  position: absolute;
  color: black;
  top: 180px;
  text-align: center;
  width: 100%;
}
.text_banner_titol {
  font-size: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.text_banner_subtitol {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.botons_banner {
  position: absolute;
  height: $mida_boto + px;
  bottom: 20px;
  width: $requadre_width_L + px;
  text-align: center;
  cursor: pointer;
}
.botons_banner_caixa {
  display: inline-block;
  margin: 0 auto;
}
.botons_banner_boto {
  display: inline-block;
  height: $mida_boto + px;
  width: $mida_boto + px;
  margin-left: 5px;
}
.img_menu {
  height: 70%;
  width: 70%;
  margin-left: 15%;
  margin-top: 15%;
}
.img_logo {
  height: 100%;
}

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .banner {
    width: 100%;
    padding-left: $margin_S + px;
    padding-right: $margin_S + px;
    min-height: 150px;
  }

  .banner-image {
    position: relative;
    z-index: 0;
    width: 100%;
  }
  .banner-image > img {
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
    display: block;
  }

  .text_banner {
    top: 55px;
  }
  .text_banner_titol {
    font-size: 15px;
  }
  .text_banner_subtitol {
    font-size: 12px;
  }

  .grup-paginacio {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 20px;
  }

  .paginacio {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
  }

  .PuntBlanc {
    background-image: url('/assets/img/PuntBlanc.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .PuntGris {
    background-image: url('/assets/img/PuntGris.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu {
    top: 0px;
    height: $height_menu_S + px;
    width: $height_menu_S + px;
  }
  .logo {
    top: 0px;
    right: 10px;
    height: $height_menu_S + px;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .banner {
    margin-top: 0px;
    padding-left: $margin_M + px;
  }
  .banner-image {
    width: $requadre_width_M + px;
    height: $requadre_height_M + px;
  }
  .text_banner {
    top: 160px;
  }

  .grup-paginacio {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 20px;
  }

  .paginacio {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
  }

  .PuntBlanc {
    background-image: url('/assets/img/PuntBlanc.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .PuntGris {
    background-image: url('/assets/img/PuntGris.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu {
    top: 0px;
    height: $height_menu_M + px;
    width: $height_menu_M + px;
  }
  .logo {
    top: 0px;
    right: $margin_M - 4 + px;
    height: $height_menu_M + px;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .banner {
    margin-top: 0px;
    margin-left: $margin_L - 3 + px;
  }
  .banner-image {
    width: $requadre_width_L + px;
    height: $requadre_height_L + px;
  }
  .text_banner {
    top: 160px;
  }

  .grup-paginacio {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-right: 20px;
  }

  .paginacio {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
  }

  .PuntBlanc {
    background-image: url('/assets/img/PuntBlanc.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .PuntGris {
    background-image: url('/assets/img/PuntGris.png');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .menu {
    top: 0px;
    height: $height_menu_L + px;
    width: $height_menu_L + px;
  }
  .logo {
    top: 0px;
    right: $margin_L + px;
    height: $height_menu_L + px;
  }
}
