<div class="banner">
  <div class="menu">
    <img class="img_menu" src="/assets/img/MenuFranges.png" />
  </div>
  <div class="logo">
    <img src="/assets/img/LogoCCG.jpg" class="img_logo" />
  </div>
  <div class="roller">
    <div class="banner-image">
      <img src="{{ _Promocions[_PromocioActual].PROMOCIONS_IMATGE_L }}" />
    </div>
    <div class="text_banner">
      <div *ngIf="_Promocions[_PromocioActual].mostraTextos" class="text_banner_titol">
        {{ _Promocions[_PromocioActual].PROMOCIONS_TITOL }}
      </div>
      <div *ngIf="_Promocions[_PromocioActual].mostraTextos" class="text_banner_subtitol">
        {{ _Promocions[_PromocioActual].PROMOCIONS_SUBTITOL }}
      </div>
    </div>

    <div class="grup-paginacio">
      <div class="paginacio">
        <div [ngClass]="getClassBola(B)" *ngFor="let B of _Boletes" (click)="VesAPromocio(B)">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
