<div class="requadre"
  *ngFor="let ActivitatsCicle of _DadesActivitatsCicle">
  <div class="TitolCicle">{{ActivitatsCicle.Cicle.NomActivitat}}</div>
  <div class="DatesCicle">{{ActivitatsCicle.Cicle.gTextDates}}</div>
  <div class="TextDescripcio">
    <div [innerHTML]="ActivitatsCicle.Cicle.Descripcio"></div>
  </div>

  <div class="quadricula"
    *ngFor="let ActivitatRow of ActivitatsCicle.Activitats">

    <div class="requadre_imatge"
      *ngFor="let Activitat of ActivitatRow"
      [routerLink]="Activitat.linkDetall">

      <img src="{{Activitat.gURLImatge}}"
        class="requadre_imatge_img" />
      <div class="requadre_text">
        <div class="requadre_text_titol">{{Activitat.NomActivitat}}</div>
        <div class="requadre_text_data">
          <div class="requadre_text_data_calendari">
            <img src="/assets/img/icona_calendari.png"> {{Activitat.gTextDiesHores.gTextDies}}
          </div>
        </div>
        <div class="requadre_text_espai">
          <div class="requadre_text_data_horari">
            <img src="/assets/img/icona_horari.png">{{Activitat.gTextDiesHores.gTextHores}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>