@import '../../../variables.scss';

$espaientrefotos_L: 25;
$espaientrefotos_M: 25;
$espaientrefotos_S: 25;

.TitolCicle {
  position: relative;
  margin: auto;
  text-align: center;
}
.DatesCicle {
  position: relative;
  margin: auto;
  text-align: center;
}

.requadre {
  position: relative;
  height: auto;
}
.quadricula {
  position: relative;
  background-color: inherit;
  width: 100%;
}
.requadre_imatge {
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: 100%;
}
.requadre_imatge_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.requadre_text {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  min-height: 40px;
  background-color: white;
}
.requadre_text_titol {
  border-bottom: 1px solid black;
  padding: 5px;
}
.requadre_text_data {
  display: inline-block;
  border-right: 1px solid black;
  padding: 5px;
  width: 45%;
}
.requadre_text_espai {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

@media screen and (min-width: $width_S_MIN + px) and (max-width: $width_S_MAX + px) {
  .TitolCicle {
    font-size: 20px;
    width: $requadre_width_S + px;
  }
  .DatesCicle {
    font-size: 10px;
    width: $requadre_width_S + px;
  }

  .requadre {
    position: relative;
    margin-top: ($margin_S * 2) + px;
    margin-bottom: $margin_S + px;
    padding-left: $margin_S + px;
    padding-right: $margin_S + px;
    width: 100%;
    height: auto;
  }

  .quadricula {
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .requadre_imatge {
    width: 49%;
    height: auto;
    display: block;
    margin-top: 10px;
  }
  .requadre_imatge_img {
    display: block;
    position: relative;
  }

  .requadre_text {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 12px;
    width: 49%;
  }
  .requadre_text_espai {
    font-size: 12px;
    width: 49%;
  }
}

@media screen and (min-width: $width_M_MIN + px) and (max-width: $width_M_MAX + px) {
  .TitolCicle {
    font-size: 22px;
    width: $requadre_width_M + px;
  }
  .DatesCicle {
    font-size: 16px;
    width: $requadre_width_M + px;
  }
  .TextDescripcio {
    font-size: 12px;
    width: $requadre_width_M + px;
  }
  .TextDescripcio > div {
    padding-left: 25px;
    padding-right: 14px;
  }

  .requadre {
    margin-bottom: $margin_M + px;
    margin-left: $margin_M + px;
    width: $requadre_width_M + px;
  }
  .quadricula {
    height: $imatge_height_M + px;
    margin-top: 25px;
  }

  .requadre_imatge {
    display: inline-block;
    position: relative;
    width: $imatge_width_M + px;
    margin-left: $espaientrefotos_M + px;
  }
  .requadre_imatge_img {
    display: block;
  }

  .requadre_text {
    width: $requadre_text_M + px;
    margin-left: 9px;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 10px;
    width: (($requadre_text_M / 2)-10) + px;
  }
  .requadre_text_espai {
    font-size: 10px;
    width: (($requadre_text_M / 2)-11) + px;
  }
}

@media screen and (min-width: $width_L_MIN + px) and (max-width: $width_L_MAX + px) {
  .TitolCicle {
    font-size: 40px;
    width: $requadre_width_L + px;
  }
  .DatesCicle {
    font-size: 20px;
    width: $requadre_width_L + px;
  }
  .TextDescripcio {
    font-size: 12px;
    width: $requadre_width_L + px;
  }
  .TextDescripcio > div {
    padding-left: 25px;
    padding-right: 40px;
  }

  .requadre {
    margin-bottom: $margin_L + px;
    margin-left: $margin_L + px;
    width: $requadre_width_L + px;
  }
  .quadricula {
    height: $imatge_height_L + px;
    margin-top: 25px;
  }

  .requadre_imatge {
    display: inline-block;
    position: relative;
    width: $imatge_width_L + px;
    margin-left: $espaientrefotos_L + px;
  }
  .requadre_imatge_img {
  }

  .requadre_text {
    width: $requadre_text_L + px;
    margin-left: 9px;
  }
  .requadre_text_titol {
    font-size: 12px;
  }
  .requadre_text_data {
    font-size: 10px;
    width: (($requadre_text_L / 2)-10) + px;
  }
  .requadre_text_espai {
    font-size: 10px;
    width: (($requadre_text_L / 2)-11) + px;
  }
}
